In [ ]:
import pandas as pd
import numpy as np
import re

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/Colab_Notebooks/10-K_report_ext.csv')
df

,Company,Year,Total Revenue,Net Income,Total Assets,Total Liabilities,Cash Flow from Operating Activities,Revenue Growth (%),Net Income Growth (%),Assets Growth (%),Liabilities Growth (%),Cash Flow Growth (%),Equity,Equity Growth (%),Equity to Asset Ratio,CFO to Net Income ratio
0,Microsoft,2020,143015.0,44281.0,NaN,NaN,60675,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.370227
1,Microsoft,2021,168088.0,61271.0,333779.0,191791.0,76740,17.531727,38.368601,NaN,NaN,26.477132,141988.0,NaN,0.425395,1.252469
2,Microsoft,2022,198270.0,72738.0,364840.0,198298.0,89035,17.956071,18.715216,9.305858,3.392756,16.021631,166542.0,17.293011,0.456480,1.224051
3,Microsoft,2023,211915.0,72361.0,411976.0,205753.0,87582,6.882030,-0.518299,12.919636,3.759493,-1.631942,206223.0,23.826422,0.500570,1.210348
4,Microsoft,2024,245122.0,88136.0,512163.0,243686.0,118548,15.669962,21.800417,24.318650,18.436183,35.356580,268477.0,30.187709,0.524202,1.345058
5,Tesla,2019,NaN,NaN,NaN,NaN,2405,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Tesla,2020,31540.0,721.0,52148.0,28418.0,5943,NaN,NaN,NaN,NaN,147.110187,23730.0,NaN,0.455051,8.242718
7,Tesla,2021,53820.0,5519.0,62131.0,30548.0,11497,70.640457,665.464632,19.143591,7.495249,93.454484,31583.0,33.093131,0.508329,2.083167
8,Tesla,2022,81460.0,12556.0,82338.0,36440.0,14724,51.356373,127.504983,32.523217,19.287678,28.068192,45898.0,45.325017,0.557434,1.172666
9,Tesla,2023,96770.0,14997.0,106618.0,43009.0,13256,18.794500,19.440905,29.488207,18.026894,-9.970117,63609.0,38.587738,0.596607,0.883910
10,Apple,2020,274515.0,57411.0,NaN,NaN,80674,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.405201
11,Apple,2021,365817.0,94680.0,351002.0,287912.0,104038,33.259385,64.916131,NaN,NaN,28.961004,63090.0,NaN,0.179743,1.098838
12,Apple,2022,394328.0,99803.0,352755.0,302083.0,122151,7.793788,5.410858,0.499427,4.921990,17.409985,50672.0,-19.682993,0.143646,1.223921
13,Apple,2023,383285.0,96995.0,352583.0,290437.0,110543,-2.800461,-2.813543,-0.048759,-3.855232,-9.502992,62146.0,22.643669,0.176259,1.139677
14,Apple,2024,391035.0,93736.0,364980.0,308030.0,118254,2.021994,-3.359967,3.516052,6.057424,6.975566,56950.0,-8.360956,0.156036,1.261564

In [ ]:
df.columns = df.columns.str.lower()

Let's establish a few common financial queries to extract information from the dataset:

1. What is Company X's total revenue for year Y?
2. What is Company X's net income for year Y?
3. How has Company X's total revenue changed over the last year?
4. What is Company X's equity to asset ratio for year Y?
5. What is Company X's cash flow from operating activities to net income ratio for year Y?

In [ ]:
def simple_chatbot(df):
    # This chatbot will identify the companies, financial figures and years that the user is interested in
    print("Bot: Hello! I'm a chatbot specialized in financial queries. How can I assist you today?")
    user_query = input("You: ").lower()

    # Initialize the variables the user is interested in and getting them from the dataset:
    company = None
    figure = None
    year = None

    companies = df['company'].unique()
    figures = df.columns[2:]
    years = df['year'].unique()

    for comp in companies:
        if comp.lower() in user_query:
            company = comp
            break

    for fig in figures:
        if fig.lower() in user_query:
            figure = fig
            break

    for num in years:
        if str(num) in user_query:
            year = num
            break

    if not company:
        company = input("Bot: Sorry, I couldn't identify the company in your query. Please specify it: ").capitalize()
    if not figure:
        figure = input("Bot: Sorry, I couldn't identify the financial figure in your query. Please specify it: ").split()
        figure = list(map(str.capitalize, figure))
        figure = ' '.join(figure)
    if not year:
        year = int(input("Bot: Sorry, I couldn't identify the year in your query. Please specify it: "))

    fetch = df[(df['company']==company) & (df['year']==year)][figure]

    if np.isnan(fetch.values[0]):
        print("Bot: Sorry, the information you are looking for cannot be obtained from the dataset provided.")
    elif not fetch.empty:
        if re.search(r"%", user_query):
            print("Bot: {}'s {} in {} was {}%.".format(company, re.sub(r"\s\(%\)$", "", figure), year, round(fetch.values[0], 1)))
        else:
            print("Bot: {}'s {} in {} was {} million USD.".format(company, figure, year, fetch.values[0]))
    else:
        print("Bot: Sorry, the information you are looking for cannot be obtained from the dataset provided.")

In [ ]:
simple_chatbot(df)

Bot: Hello! I'm a chatbot specialized in financial queries. How can I assist you today?
You: Hi dear chatbot, I really would like to know, out of pure curiosity, how much did the total assets of Apple amount to last year?
Bot: Sorry, I couldn't identify the year in your query. Please specify it: 2024
Bot: Apple's total assets in 2024 was 364980.0 million USD.

In [ ]:
simple_chatbot(df)

Bot: Hello! I'm a chatbot specialized in financial queries. How can I assist you today?
You: What was the revenue growth (%) for Tesla in 2023?
Bot: Tesla's revenue growth in 2023 was 18.8%.